<main class="flex flex-col items-center w-full h-full">
  <div
    class="w-full flex items-center justify-end flex-col bg-black text-white h-[400px] gap-[60px] pb-10"
  >
    <h1 class="text-red-500 text-[64px] text-header3">
      KaTeX 문법 도우미, {{ title }}에 오신걸 환영합니다!
    </h1>
    <div
      class="w-[800px] px-[30px] flex gap-4 items-center bg-white rounded-full h-[80px]"
    >
      <img src="./assets/images/search.svg" width="60" />
      <!-- keyup은 내부에서 addEventlistner를 사용해 이벤트가 추가 되며, $event로 DOM event 객체을 받아온다 -->
      <input
        type="text"
        (keyup)="onKeyUp($event)"
        placeholder="Search..."
        class="h-full text-black outline-none text-title2 placeholder:text-title2"
      />
    </div>
  </div>
  <div class="pt-[80px]">
    <div class="flex flex-col items-center gap-4">
      <app-table [sortBy]="tableItem" [label]="labels[0]"></app-table>
      <button
        class="bg-gray2 rounded-full flex gap-[10px] px-8 py-4 items-center"
      >
        <span class="text-white text-title2">전체 문서 보러가기</span>
        <img src="../../assets/images/arrow.svg" alt="" />
      </button>
    </div>
  </div>
</main>
